.navbar
{
    background-color: black;
}

.nav-item, .navbar-brand
{
    position: relative;
    padding-right: 300px;
    font-size: 25px;
}

.intro
{
    font-size: 250%;
    font-weight: bold;
}

.texto2
{
    background-color: rgb(54, 62, 70);
}

.img1, .img3
{
    position: relative;
    margin-left: 80px;
}

.img2
{
    position: relative;
    margin-left: -8px;
}